body {
  margin:0 auto;
  padding:0;
  height: 100%;
  max-width: 700px;
  background-color: #F9F9F9;
  overflow-x: hidden;
  word-wrap:break-word;
  position: relative;
}
img {
  max-width: 100%;
}
#wrapper {
  position: relative;
  font-size: 14px;
  color: #a6a6a6;
  .container {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    .main-title {
      width: 100%;
      border-left: 3px solid #ffd842;
      //border-bottom: 1px solid #dfe0e6;
      margin: 5px 0;
      padding-left: 5px;
    }
    &.teacher {
      .head {
        text-align: center;
        .logo {
          display: inline-block;
          @w: 60px;
          .size(@w,@w);
          border-radius: @w;
        }
        .name {
          color: #383d43;
          margin: 5px;
        }
        .tips {
          color: #fff;
          font-size: 12px;
          > span {
            background-color: #ffd842;
            padding: 1px 2px;
            border-radius: 4px;
          }
        }
        .org {
          padding:10px 0;
        }
      }
      .detail {
        padding: 10px 0;
        border-top: 1px solid #dfe0e6;
        display: flex;
        .title {
          color: #383D43;
          flex: 0 0 75px;
        }
        .info {
          flex: 1;
          line-height: 22px;
          .course {
            margin-right: 3px;
          }
        }
      }
    }
    &.album {
      .album-ul {
        border-top: 1px solid #dfe0e6;
        padding-top: 10px;
        .album-li {
          > a {
            > img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}