html,body {
  margin:0;
  padding:0;
  overflow-x: hidden;
  height: 100%;
}
#invitation {
  margin: 0 auto;
  max-width: 700px;
  height: 100%;
  background-color: #f2f2f2;
  font-size: 14px;
  overflow-x: hidden;
  @mfc: #FBC02D;
  @mdc: #FFEB3B;
  .box {
    background-color: #ffffff;
    padding: 15px;
    //临时底部间距
    margin-bottom: 15px;
    &.user {
      display: flex;
      .user-left {
        @userH: 70px;
        flex: 0 0 @userH;
        > img {
          .size(@userH,@userH);
          border-radius: @userH;
        }
      }
      .user-right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        > p {
          .user-friend {
             color: #383D43;
             font-weight: bold;
           }
          .color {
            color: #FA4535;
            font-weight: bold;
          }
        }
      }
    }
    &.info {
      .org-name {
        .txt-ellipsis-p(1);
        text-align: left;
        margin-bottom: 10px;
      }
      .class {
        display: flex;
        position: relative;
        .class-left {
          box-flex:1;
          -moz-box-flex:1;
          -webkit-box-flex:1;
          margin-right: 7px;
          > img {
            max-width: 80px;
            border-radius: 7px;
          }
        }
        .class-middle {
          width: 34%;
          font-size: 12px;
          margin-left: 15px;
          padding-top: 10px;
          .name {
            color: #383D43;
            margin-bottom: 10px;
            display: inline-block;
            .txt-ellipsis-p(1);
          }
          .save {
            display: inline-block;
            .save-img {
              display: inline-block;
              height: 21px;
              width: 21px;
              background: url("../../../img/course/v1.3/sprite.png") no-repeat;
              background-size: 158px*0.4 66px *0.4;
              background-position: -26px 0px;
            }
            .save-num {
              color: #FA4535;
              vertical-align: 7px;
            }
          }
        }
        .class-right {
          position: absolute;
          top: -12px;
          right: 0px;
          text-align: right;
          font-size: 12px;
          .price {
            margin-bottom:10px;
            display: inline-block;
            vertical-align: -22px;
          }
          .price-info {
            color: #9B9B9B;
            padding-right: 5px;
          }
          #price-num {
            color: #383D43;
          }
          #price-real-num {
            color: #FA4535;
          }
        }
      }

    }
    &.join {
      text-align: center;
      .slogen {
        margin: 10px auto;
        color: @mfc;
        font-size: 18px;
      }
      .btn {
        margin-top: 10px;
        display: inline-block;
        .size(90%,35px);
        border-radius: 10px;
        background-color: @mdc;
        line-height: 35px;
        > a {
          color: #000000;
        }
      }
    }
    &.rule {
      border-left: 3px solid @mdc;
      display: flex;
      height: 50px;
      padding: 0 !important;
      line-height: 50px;
      .txt {
        flex: 1;
        > span {
          margin-left: 15px;
        }
      }
      .link {
        flex: 0 0 55px;
        color: @mfc;
        > a {
          display: inline-block;
          .size(100%,100%);
          color: @mfc;
          > i {
            vertical-align: -2px;
          }
        }

      }
    }
    &.hide {
      display: none;
    }
  }
  .box1 {
    opacity: 0;
    -webkit-animation: slideToTop .8s 0.2s ease both;
    background-color: #ffffff;
    padding: 30px;
    &.process {
      @sw:20px;
      margin-bottom: 15px;
      > h3 {
        font-weight: normal;
        color: #383d43;
        margin-bottom: 15px;
      }
      .rules {
        display: flex;
        color: #9b9b9b;
        .num {
          flex: 0 0 @sw;
          margin-right: 10px;
          //图形阴影
          box-shadow: 0px 2px 6px #fbc02d;
          font-size: 10px;
          display: inline-block;
          .size(@sw,@sw);
          border-radius: @sw;
          background-color: @mfc;
          line-height: @sw;
          text-align: center;
          color: #fff;
          vertical-align: 1px;
        }
        .txt {
          display: flex;
        }
        &.first {
          color: #383d43;
        }
      }
      .dotted {
        color: #E5E5E5;
        margin-top: 5px;
        margin-left: 3px;
      }


    }
    &.register {
      @rbh: 45px;
      @rbr:10px;
      text-align: center;
      .phone {
        border-radius: @rbr;
        display: flex;
        background-color: #F2F2F2;
        margin: 20px 0;
        .register-img {
          width:  @rbh;
          height: @rbh;
          font-size: 20px;
          display: flex;
          justify-items: center;
          align-items: center;
          justify-content: center;
        }
        .register-code {
          flex: 3;
          border-radius: @rbr;
          height: @rbh;
          padding: 0px;
          border: none;
          background-color: #F2F2F2;
          &:active {
            outline: none;
          }
        }
        &.active {
          > i {
            color: #FFEB3B;
          }
          background-color: #FFFBD8;
          .register-code {
            background-color: #FFFBD8;
          }
        }
      }
      .btn {
        font-size: 14px;
        .size(100%,@rbh);
        line-height: @rbh;
        color: #ffffff;
        border-radius: @rbr;
        background-color: rgba(250,192,46,0.5);
        border: none;
        &.active {
          background-color: #FAC02E;
        }
        &.nouse {
          pointer-events:none;
        }
      }
      > p {
        padding: 15px 0;
        color: #a5a5a5;
        &.active {
          color: #FBC02D;
        }
      }
    }
    &.hide {
      display: none;
    }
  }
  .container {
    opacity: 0;
    -webkit-animation: slideToTop .8s 0.2s ease both;
    position: relative;
    background-color: #ffffff;
    height:100%;
    overflow-x: hidden;
    text-align: center;
    @rbh: 35px;
    @rbr:10px;
    .bg {
      max-height: 220px;
      margin-bottom: 10px;
      &.second {
        margin-top: 34%;
      }
    }
    .txt {
      letter-spacing: 1px;
      &.txt-one {
        margin: 30px 0 10px 0;
        font-size: 14px;
      }
      &.txt-two {
        font-size: 18px;
        font-weight: 500;
        color: #000;
        > span {
          color: #FA4535;
        }
      }
    }
    .btn {
      margin: 0 20px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 35px;
      font-size: 14px;
      .size(auto,@rbh);
      line-height: @rbh;
      color: #ffffff;
      border-radius: @rbr;
      background-color: rgba(250,192,46,0.5);
      border: none;
      > a {
        color: #fff;
      }
      &.active {
        background-color: #FAC02E;
      }
    }
    &.hide {
      display: none;
    }
  }
  @-webkit-keyframes slideToTop {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100px, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
    }
  }

}