.form-area {
  min-height: 200px;
}
.loding-modal {
  position: fixed;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -40px;
  border-radius: 4px;
  background-color: #7b7b7b;
  text-align: center;
  font-size: 12px;
  color: #fff;
  z-index: 8000;
  display: none;
}

.loadingCircle {
  margin: 15px auto 10px auto;
  display: inline-block;
  background-image: url("../img/loading.svg");
  height: 2em;
  width: 2em;
}
.loadingCircle.active {
  z-index: 1;
  animation: aloading 0.8s steps(6, end) 0s infinite;
}
@keyframes aloading {
  to {
    transform: rotate(360deg);
  }
}
.modal-icon {
  margin: 15px auto 10px auto;
  display: inline-block;
  background-size: contain;
  height: 2em;
  width: 2em;
}
.modal-icon.ok{
  background-image: url("../img/ok.png");
}
.modal-icon.error{
  background-image: url("../img/error.png");
}

.hiddenForm {
  display: none;
}
.my-search-box {
  position: relative;
  height: 35px;
}
.my-search-box .my-search-input {
  border: 1px solid #ccc;
  height: 34px;
  width: 240px;
  text-indent: 4px;
  border-radius: 2px;
  outline: none;
}
.my-search-box .my-search-result {
  position: absolute;
  height: 250px;
  top: 35px;
  left: 0;
  display: none;
  max-height: 180px;
  width: 240px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.55);
  background-color: #F8F8F8;
  z-index: 100;
  overflow-y: auto;
}
.my-search-box .my-search-result-ul {
  margin: 0;
  padding: 0;
}
.my-search-box .my-search-result-ul li {
  list-style: none;
  height: 34px;
  border-bottom: 1px solid #E8E8E8;
  cursor: pointer;
  line-height: 34px;
  position: relative;
  padding-left: 10px;
}
.my-search-box .my-search-result-ul li p {
  margin-left: 10px;
  margin-right: 35px;
  color: #686868;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.my-search-box .my-search-result-ul li .check {
  display: none;
  width: 25px;
  height: 17px;
  position: absolute;
  right: 7px;
  top: 13px;
  background: url('http://pic.hisihi.com/2016-10-27/1477538016694197.png');
  background-position: -332px 0;
}
.my-search-box .my-search-result-ul li.selected .check {
  display: block;
}
.my-search-box .my-search-result-ul li:hover {
  background-color: rgba(104, 104, 104, 0.3);
}
.nodata {
  display: none;
  font-size: 12px;
  color: #808080;
}
.txt-ellipsis-single {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}





.add-img-btn{
  height:80px;
  width: 80px;
  border-radius: 5px;
  border:1px solid #808080;
  cursor: pointer;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  position: relative;
}
.add-img-btn:hover{
  box-shadow: 0 0 2px 2px rgba(21,21,21,0.5);
}
.add-img-btn .img-size-tips{
  background: rgba(0,0,0,.5);
  display: none;
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}
.add-img-btn:hover .img-size-tips{
  display: block;
}

.imgs-list-box{
  margin: 0;
  padding: 0;
}
.imgs-list-box li{
  list-style: none;
  display: inline-block;
  vertical-align: top;
  height:80px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.imgs-list-box li:hover{
  box-shadow: 0 0 2px 2px rgba(21,21,21,0.5);
}
.imgs-list-box li img{
  width: 100%;
  height: 100%;
  margin: 0;
}

.imgs-list-box li.deleting{
  animation: deleting 0.3s ease-in;
  animation-fill-mode: forwards;
}
@keyframes deleting {
  to {
    transform: scale(0);
  }
}

.remove-img{
  position: absolute;
  right: 5px;
  top: 5px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: white;
  background-color: rgba(250,80,58,.6);
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
}

.remove-img:hover{
  background-color: rgba(250,80,58,1);
}


.disabled{
  pointer-events: none;
}
.custom-label{
  line-height: 35px;
}