
.org-info-box .col-md-1{
    text-align: center;
}
.org-info-box .control-label{
    text-align: center;
}
.form-md-line-logo{
     margin-bottom: 20px;
}
.form-md-line-logo img{
    height: 100px;
    width: 100px;
}
.form-md-line-logo .col-md-9{
    padding-top: 25px;
}
.form-md-line-logo .col-md-9 .btn{
    margin-bottom: 10px;
}

.form-md-line-cover{
    min-height: 110px;
}
.form-md-line-cover .cover-box{
    display: flex;
    height: 100%;
    width: 100%;
}

.cover-list-box{
    margin: 0;
    padding: 0;
}
.cover-list-box li {
    height: 80px;
    width: 80px;
}

.default-txt{
    color: #000;
    font-weight: bold;
}

.line{
    /*height: 10px;*/
    /*width: 100px;*/
    background-color: rgba(236,240,241,.4);
    margin: 30px 0;
    padding: 30px 0;
}