body {
  margin:0 auto;
  padding:0;
  max-width: 700px;
  overflow-x: hidden;
  word-wrap:break-word;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#invitation {

}