body {
  margin:0 auto;
  padding:0;
  height: 100%;
  max-width: 700px;
  background-color: #F9F9F9;
  overflow-x: hidden;
  word-wrap:break-word;
  position: relative;
}
img {
  max-width: 100%;
}
html {
  height: 100%;
}
#redBag {
  height: 100%;
  background-color: #FFF9D9;
  position: relative;
  text-align: center;
  .head {
    padding-top: 25px;
    .slogen {
      max-width: 65%;
      margin-bottom: 10px;
    }
    .headTitle {
      font-size: 18px;
      font-weight: bold;
      color: #996413;
    }
  }
  .middle {
    position: relative;
    .middleBg {
      margin-left: 10px;
      max-width: 90%;
    }
    .middleTxt {
      position: absolute;
      top: 95px;
      left: 0;
      right: 0;
      .txtOne {
        color: #79625d;
        font-size: 16px;
        margin-bottom: 5px;
      }
      .txtTwo {
        color: #fa5047;
        margin-top: 5px;
        > span {
          font-size: 28px;
        }
      }
    }
  }
  .footer {
    position: relative;
    .size(100%,200px);
    background-color: #FFD162;
    //transition:cubic-bezier(1,.4,.01,.98) ;
    //transform:rotate(45deg)
    .footerTop {
      position: absolute;
      top: -31px;
      left: 0;
      right: 0;
    }
    .register {
      @h: 40px;
      margin:0 40px;
      .register-box {
        .size(100%,@h);
        .register-code {
          background-color: #FFF1D0;
          .size(100%,@h);
          border: 1px solid #fafafa;
        }
      }
    }
  }
}