body {
  margin:0 auto;
  padding:0;
  height: 100%;
  max-width: 700px;
  background-color: #F9F9F9;
  overflow-x: hidden;
  word-wrap:break-word;
  position: relative;
}
img {
  max-width: 100%;
}
#course {
  position: relative;
  font-size: 14px;
  color: #666666;
  .hide {
    opacity: 0;
    display: none;
  }
  .container {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    .org-stars {
      @h: 16px;
      display: inline-block;
      font-size: @h;
      .star {
        display: inline-block;
        padding: 0;
        margin: 0;
        .size(@h,@h);
        color: #d9d9d9;
        &.colored {
          color: #ffd842;
        }
      }
    }
    .head-img {
      max-height: 340px;
    }
    &.head {
      .head-info {
        text-align: left;
        .course-name {
          .txt-ellipsis-p(1);
          font-size: 16px;
          color: #383D43;
          font-weight: bold;
        }
        .course-price {
          margin: 10px 0;
          #new-price {
            font-size: 14px;
            color: #fa4225;
          }
          #old-price {
            margin-left: 5px;
            font-size: 12px;
            color: #a6a6a6;
            text-decoration:line-through;
          }
        }
        .course-payback {
          font-size: 12px;
          display: flex;
          padding-bottom: 10px;
          border-bottom: 1px solid #dfe0e6;
          #payback {
            flex:1;
            text-align: left;
            margin-left: 5px;
            color: #ff6455;
          }
          .appoint {
            flex:2;
            text-align: right;
            color: #a6a6a6;
          }
        }
      }
      .head-link {
        @h: 20px;
        font-size: 10px;
        > a {
          color: #666666;
        }
        .link-info {
          height: @h;
          line-height: @h;
          display: flex;
          margin-top: 10px;
          .link-img {
            display: inline-block;
            .size(@h,@h);
            display: inline-block;
            &#support-img {
              background: url("../../../img/course/v1.8/sprite.png") -2px -1px no-repeat;
              background-size: 254px*0.4,51px*0.4;
            }
            &#help-img {
              .size(15px,15px);
              display: inline-block;
              vertical-align: 3px;
              background: url("../../../img/course/v1.8/sprite.png") -112px -2px no-repeat;
              background-size: 254px*0.5,51px*0.5;
            }
            &#refund-img {
              background: url("../../../img/course/v1.8/sprite.png") -25px -2px no-repeat;
              background-size: 254px*0.4,51px*0.4;
            }
          }
          .link-name {
            margin-right: 3px;
            vertical-align: 7px;
          }
          .link-left {
            flex: 0 0 75px;
          }
          .link-middle {
            margin-left: 5px;
          }
          .link-right {
            flex: 1;
            margin-left: 3px;
              .txt-ellipsis-p(1);
              > span {
                color: #ff6455;
              }
              #help-img {
                color: #ff6455;
                margin-left: 5px;
                .size(16px,16px);
                vertical-align: -4px;
              }
          }
        }
      }
    }
    &.join {
      @jh:55px;
      @r: 10px;
      .join-title {
        border-left: 3px solid #ffd842;
        padding-left: 5px;
        margin-bottom: 20px;
      }
      .join-box {
        .size(100%,@jh - 15px);
        position: relative;
        border:1px solid #c7c7c7;
        display: inline-block;
        margin-bottom: 10px;
        border-radius:@r;
        .join-img {
          position: absolute;
          top: -8px;
          left: -4px;
          .size(@jh,@jh);
          border-radius: @jh;
          border: 1px solid #c7c7c7;
        }
        .join-detail {
          display: flex;
          padding-left: @jh + 5px;
          line-height: @jh - 15px;
          .join-name {
            flex: 1;
            .txt-ellipsis-p(1);
          }
          .join-num {
            .txt-ellipsis-p(1);
            margin-right: 10px;
            > span {
              color: #ff6455;
            }
          }
          .join-btn {
            > a {
              display: inline-block;
              color: #ffffff;
            }
            flex: 0 0 70px;
            text-align: center;
            border-radius:0 @r @r 0;
            background-color: #ffd842;
            color: #ffffff;
          }
        }
      }
    }
    &.org {
      .org-box {
        display: flex;
        .org-url {
          display: inline-block;
          .size(85px,85px);
          .org-img {
            flex: 0 0 85px;
            .size(85px,85px);
          }
        }
        .org-info {
          margin-left: 10px;
          flex: 1;
          .org-name {
            display: flex;
            margin-bottom: 5px;
            .org-left {
              flex: 1;
              .name {
                font-size: 16px;
                font-weight: bold;
                .txt-ellipsis-p(1);
                margin-right: 5px;
              }
              .tips {
                padding-top: 4px;
                font-size: 10px;
                color: #ffd842;
                margin-top: 5px;
                > span {
                  padding: 2px 3px;
                  border: 1px solid #ffd842;
                  border-radius: 5px;
                }
              }
            }
            .org-right {
              color: #a6a6a6;
              flex: 0 0 24;
              font-size: 12px;
              text-align: right;
              margin-left: 15px;
            }
          }
          .org-score {
            color: #a6a6a6;
            .txt-ellipsis-p(1);
            font-size: 12px;
            > span {
              margin-left: 10px;
              &:first-child {
                margin-left: 0px;
              }
            }
          }
        }
      }
      .org-contact {
        display: flex;
        text-align: center;
        color:#ffd842;
        margin-top: 15px;
        border-bottom: 1px solid #dfe0e6;
        padding-bottom: 10px;
        .contact-btn {
          margin: 0 auto;
          flex: 0 0 120px;
          border: 1px solid #ffd842;
          padding: 4px;
          border-radius: 4px;
          height: 20px;
          .contact-img {
            display: inline-block;
            .size(20px,20px);
            background: url("../../../img/course/v1.8/sprite.png") no-repeat;
            background-size: 254px * 0.5, 51px* 0.5;
          }
          .contact {
            display: inline-block;
            line-height: 20px;
          }
          &#phone {
            .contact-img {
              background-position: -57px 0;
              vertical-align: -3px;
            }
          }
          &#online {
            .contact-img {
              background-position: -83px 0;
              vertical-align: -4px;
            }
          }
        }
      }
      .teacher-box {
        line-height: 24px;
        margin-top: 10px;
        .teacher-info {
          width: 100%;
          > a {
            width: 100%;
            display: flex;
            color: #666666;
            .teacher-name {
              flex: 0 0 65px;
              font-weight: bold;
              margin-right: 8px;
            }
            .teacher-class {
              color: #a6a6a6;
              flex: 1;
              font-size: 12px;
              .class-name {
                margin-right: 8px;
              }
            }
          }

        }

      }
    }
    &.course {
      font-size: 16px;
      color: #383d43;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 25px;
      text-align: center;
      .course-btn {
        flex: 1;
        > span {
          .size(22px,25px);
          padding-bottom: 5px;
        }
        &.selected {
          color: #ffd842;
          > span {
            border-bottom: 1px solid #ffd842;
          }
        }
      }
    }
    &.evaluate-info {
      .evaluate-box {
        display: flex;
        padding: 10px 0;
        border-top: 1px solid #dfe0e6;
        .evaluate-img {
          @w: 45px;
          flex: 0 0 @w;
          margin-right: 15px;
          > img {
            display: inline-block;
            .size(@w,@w);
            border-radius: @w;
          }
        }
        .evaluate-detail {
          display: inline-block;
          .name {
            color: #383d43;
          }
          .stars {
            @h: 16px;
            display: inline-block;
            font-size: @h;
            .star {
              display: inline-block;
              padding: 0;
              margin: 0;
              .size(@h,@h);
              color: #d9d9d9;
              &.colored {
                color: #ffd842;
              }
            }
          }
          .detail {
            color: #666666;
          }
          .time {
            width: 100%;
            text-align: right;
            color: #a6a6a6;
            padding-top: 5px;
          }
        }
        &:first-child {
          border-top: 0px;
        }
      }
    }
  }
  .description {
    line-height: 22px;
    .des-txt {
      .txt-box {
        color: #383D43;
        margin-bottom: 30px;
        .title {
          padding: 10px 0;
          font-weight: bold;
        }
        .info {

        }
      }
    }

  }
  .call-mask {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: rgba(33,33,33,0.8);
    @w: 240px;
    @h: 45px;
    @r:10px;
    font-size: 14px;
    display: none;
    .call-container {
      text-align: center;
      background-color: #fff;
      border-radius: @r;
      .call-box {
        .size(@w,@h);
        line-height: @h;
        > a {
          .size(@w,@h);
          color: #5A5A5A;
        }
      }
      .quite {
        height: @h;
        line-height: @h;
        padding: 0;
        margin: 0;
        font-size: 12px;
        color: #5A5A5A;
        border-top: 1px solid #F2F2F2;
      }
    }
    &.show{
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
    }
    &.hide{
      display: none;
      opacity: 0;
    }
  }
  .installment {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: rgba(33, 33, 33, 0.8);
    font-size: 14px;
    display: none;
    .installment-box {
      padding: 10px;
      text-align: center;
      background-color: #fff;
      border-radius: 10px;
      font-size: 13px;
      .size(220px,250px);
      .title {
        font-size: 14px;
        color: #383d43;
        margin-bottom: 10px;
      }
      .txt {
        line-height: 22px;
        text-align: left;
        &.one {
          color: #666666;
          margin-bottom: 15px;
        }
        &.two {
          color: #a6a6a6;
        }
      }
      .close-btn {
        display: inline-block;
        color: #fff;
        .size(60px,30px);
        line-height: 30px;
        background-color: #ffd842;
        border-radius: 3px;
        margin-top: 45px;
      }
    }
    &.show {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
    }
    &.hide{
      display: none;
      opacity: 0;
    }
  }
}